l**
FrameworkArduino/
.vscode/
include/
lib/
test/
.sconsign311.dblite
firmware.elf
idedata.json
project.checksum
main.cpp.o
.pio/*
!.pio/build/
.pio/build/*
!.pio/build/nodemcuv2/
.pio/build/nodemcuv2/*
!.pio/build/nodemcuv2/firmware.bin
